<% provide(:title, @post.user.name) %>
<div class="row">
  <aside class="span4">
    <section>
<%= link_to gravatar_for(@post.user, size: 52), @post.user %>
<h1>
  <%= @post.user.name %>
</h1>
<% if current_user?(@post.user) %>
<span>
  <%= link_to "view my profile", @post.user %>
</span>
<% end %>
<span>
  <%= pluralize(@all.count, "post") %>
</span>
<span class="newpost">
<% if current_user?(@post.user) %>
<%= link_to "Create New Post", new_post_path %>
<% end %>
</span>
    </section>
  </aside>
<div class="span8">
<h3><%= @post.title %></h3> <span><% if @post.private === true %><em>Private Post</em><% end %></span>
  <span class="content"><%= @post.content %></span>
  <span class="timestamp">
    Posted by <strong><%= link_to @post.user.name, @post.user %></strong> <%= time_ago_in_words(@post.created_at) %> ago.<p>
	<% if current_user?(@post.user) || current_user.admin? %>
	<%= link_to "edit", edit_post_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "delete", @post, method: :delete, data: {confirm: "are you sure?"}, title: @post.title %>
	<% end %>
  </span>
  <h3 class="comments_title">Comments (<%= @post.comments.count %>)</h3>
  <%= render @post.comments %><p>
  <div class="comment_form">
  <%= render 'shared/comments_form' %><p>
  </div>
  </div>